.content {
    position: relative;
}

.content .numbers {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.content .numbers > li {
    display: inline-block;
    min-width: 30px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px;
}
.content .numbers > li:last-child {
    margin-right: 0;
}

.content .legend {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.content .legend > li {
    min-width: 25px;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
}
.content .legend > li:last-child {
    margin-bottom: 0;
}

.content > label {
    clear: both;
}

.controls {
    margin-top: 10px;
}
.controls label,
.controls input {
    float: left;
}
.controls label {
    min-width: 200px;
    clear: both;
}
.controls .actions {
    clear: both;
    padding-top: 5px;
    padding-left: 200px;
}

.content:after,
.numbers:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.panel {
  float: left;
}
.panel h3:first-child {
    margin-top: 0;
}
.panel-left {
    width: 80%;
}
.panel-right {
    width: 20%;
}

.prob {
  width: 100%;
}
.prob th {
  text-align: left;
}