.content {
    position: relative;
}

.content .numbers {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.content .numbers > li {
    float: left;
    min-width: 25px;
    text-align: center;
    margin-right: 10px;
    padding: 10px;
}
.content .numbers > li:last-child {
    margin-right: 0;
}

.content .legend {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.content .legend > li {
    min-width: 25px;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
}
.content .legend > li:last-child {
    margin-bottom: 0;
}

.content > label {
    clear: both;
}

.controls {
    margin-top: 10px;
}

.content:after,
.numbers:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.panel {
  float: left;
}
.panel h3 {
  margin-top: 0;
}
.panel-left {
  width: 80%;
}
.panel-right {
  width: 20%;
}